{% load static %}

<html>
<head>
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById("password");
            var toggleButton = document.getElementById("toggleButton");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.innerHTML = "приховати";
            } else {
                passwordInput.type = "password";
                toggleButton.innerHTML = "показати";
            }
        }
    </script>
</head>
<body>
    <!-- Заголовок та контент сторінки -->

    <div class="login-container">
        <form method="POST" action="{% url 'index' %}" class="login-form">
            <h2>Увійти</h2>
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Логін:</label>
                <input type="text" id="username" name="username" placeholder="Введіть логін" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <div class="password-input-container">

                    <input type="password" id="password" name="password" placeholder="Введіть пароль" required>
                    <button type="button" id="toggleButton" onclick="togglePassword()">показати</button>
                </div>

            </div>
               {% if invalid_login %}
        <p class="error-message">Неправильний логін або пароль.</p>
    {% endif %}
            <button type="submit" class="btn-login">Увійти</button>
        </form>
    </div>
</body>
</html>